body {
    font-family: Arial, sans-serif;
    background: 
        url('imagens/hackman.jpg') no-repeat center top;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 15px;
}

form div label {
    display: block;
    margin-bottom: 5px;
}

form div input,
form div textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    display: block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.buttons {
    margin-top: 20px;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
}

.button:hover {
    background-color: #0056b3;
}
